*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    
}
.head{
    background-color: #043873;
    padding: 16px 220PX;

    

}
.heading-text{
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-text1{
    display: flex;
    gap: 40px;
}
.menu-bar{
    display: none;
}
.heading{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding:10PX 0PX;
}
.heading-text-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    
    

}

.btn1{
padding: 16px 40px 16px 40px;
border-radius: 12px;
background-color: #ffe492;
font-size: 18px;
color: white;
cursor: pointer;
}

.btn2{
padding: 16px 24px;
background-color: #4f9cf9;
font-size: 18px;
color: white;
cursor: pointer;
letter-spacing: -2%;
display: flex;
align-items: center;
border-radius: 12px;
}

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #043873;
    gap: 60px;
    padding: 140PX 220px;
}
.img1{
    width: 100%;
}
.img2{
    width: 100%;
}
.img3{
    max-width: 100%;
}
.img4{
    width: 100%;
}

.heading2 .h2{
    font-weight: 700;
    /* padding: 0 40px; */
    font-size: 64px;
    color: white;
    line-height: 77.45px;
    initial-letter: -2%;
}
.h2{
    color: white;
    font-weight: 700;
    font-size: 64px;
    
}
.para{
    color: white;
    padding: 20px 0;

}
.heading2{
    /* padding: 10px 60px; */
    border-radius: 12px;
    background-color: #043873;
    font-size: 27px;
    color: white;
    cursor: pointer;    
}
.btn3{
    padding: 10px 40px;
    border-radius: 12px;
    background-color:#4f9cf9 ;
    font-size: 27px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.testimonials2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    padding: 140px 220px;
    gap: 20px;
}
.btn4{
    padding: 10px 60px;
    border-radius: 12px;
    background-color: #4f9cf9;
    font-size: 27px;
    color: white;
    cursor: pointer;  
    display: flex; 
    align-items: center;
}
.h3{
    font-size: 69px;
}
.para2{
    padding: 20px 0;


}
.testimonials3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 140px 220px;
    /* align-items: center; */
    /* justify-content: center; */
}
.heading4{
   padding: 139px; 
}
.testimonials4{
    display: grid;
    grid-template-columns: 1fr 1fr;
padding: 140px 220px;
align-items: center;
justify-content: center;
background-color: #043873;
gap: 98px;
}

.btn5{
    padding: 20px 40px;
    border-radius: 12px;
    background-color: #4f9cf9;
    font-size: 27px;
    color: white;
    cursor: pointer;
    display: flex;   
    align-items: center;
}
.h4{
    font-weight: 700;
    font-size: 72px;
    color: #fff;
    
}
.h5{
font-weight: 700;
font-size: 72px;

}
.para4{
font-family: 400;
font-size: 18px;
line-height: 30px;

}
.para3{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -2%;
    color: #fff;
    padding: 20px 0;

}
.testimonials5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 220px;
    gap: 98px;
}

.para4{
    margin: 20px 0;
}
.heading7{
    text-align: center;
}
.plan{
    font-size: 72px;
    font-weight: 700;
}
.para7{
    font-weight: 400;
    font-size: 18px;
    
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 111px 219px;
    column-gap: 39px;
}
.box1{
 padding: 40px 44px;
 background-color: #fff;
 overflow: hidden; 
 box-shadow: 8px 8px 5px grey;
 line-height: 3.2;
  
}
.box2{
padding: 40px 44px;
background-color: #043873;
line-height: 3.2;
overflow: hidden;
box-shadow: 8px 8px 5px gray;

}
.timer-outline{
    color: white;
    
}
.box3{
padding: 40px 44px;
background-color: #fff;
line-height: 3.2;
overflow: hidden;

box-shadow: 8px 8px 5px gray;

}
.ul1{
    list-style: none;
}
.btn6{
padding: 8px 15px;
border: none;
background-color: white;
}
.btn7{
padding: 8px 15px;
background-color: #4f9cf9;

border: none;
}

.testimonials6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 220px;
    background-color:#043873;
}
.h1-class{
font-size: 72px;
font-weight: 700;
}
.h1para{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -2%;
    padding: 20px 0;
}
.para5{
    padding: 20px 0;
    text-align: center;
}
.btn8{
    background-color: #4f9cf9;
    padding: 10px 20px;
    border-radius: 13px;
    border: none;
}
.text-img{
    display: flex;
    align-items: center;
    padding: 111px 219px;
}
.btn9{
    padding: 10px 18px;
    background-color: #135fb6;
    color: white;
    border-radius: 13px;

}
.heading-sponsor{
text-align: center;
font-size: 49px;
/* margin: 10px 0; */
padding: 140px 220px;
}
.heading-img-text{
    display: flex;
    justify-content: space-between;
    padding: 70px 220px;
}
.head6{
    text-align: center;
    font-size: 49px;
    font-weight: 600;
}
.hero{
    background-color: #ffff;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
    padding:60px 40px;
    
}
.hero1{
    display: flex;
    align-items: center;
    /* margin-top: 29px; */
    
    border-top: grey;
    border-radius: 19px;
    /* padding: 12px 20px 12px 20px; */
    padding: 20px 0;
gap: 10px;
}

.images{
    margin-right: 8px;
}
.para6{
    margin-top: 14px;
}
.line{
    margin-top: 50px;
}
.hero2{
    background-color: #4f9cf9;
    padding: 60px 40px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}
.testimonials8{
    display: flex;
    padding: 140px 220px;
    column-gap: 99px;
    gap: 32px;
}
.testimonials9{
 text-align:center;
 padding: 140px 220px;
 background-color:#043873 ;
 color: white;
 padding: 140px 220px;
 line-height: 1.2;
}
.button15{
    background-color: #4f9cf9;
    color: white;
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #043873;
    padding:  140px 220px ;
    gap: 40px;
    color: white;
    list-style: none;
    line-height: 1.7;
}
.class1{
    font-size: 72px;
    font-weight: 700;
}
.para-class{
font-weight: 400;
font-size: 24px;
margin: 8px 0;
}
.button16{
    padding: 10px 20px;
    background-color: #4f9cf9;
    color: white;
    gap: 20px;
    border-radius: 12px;
}
.footr{
    background-color: #043873;
    color: white;
padding: 20px 220px;
}
.unlimited{
    display: flex;
gap: 70px;    
}
